body {
    background-color: #0a001b;
    color: #fff;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  h1 {
    font-size: 5em;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.2em;
    line-height: 1.5;
    text-align: center;
    max-width: 600px;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  .navegacao ul {
    list-style: none;
    position: absolute;
    left: 0;
    display: flex;
  }
  .navegacao li {
    margin-right: 50px;
  }
  .imagem {
    position: relative;
  }
  .perfil ul {
    list-style: none;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
  }
  .titulo {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    display: flex;
    margin-top: 4%;
    flex-direction: column;
    align-items: flex-start;
  }
  .caixa {
    background-color: #fff;
    margin-top: 2%;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    align-self: start;
  }
  .caixa p {
    color: black;
    margin-left: 1%;
    margin-right: 1%;
    
  }