/* import da fonte "Roboto"*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
body {
  background-color: #0a001b;
  color: #fff;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 5em;
  margin-bottom: 20px;
}

p {
  font-size: 1.2em;
  line-height: 1.5;
  text-align: center;
  max-width: 600px;
}

a {
  color: white;
  text-decoration: none;
}
.navegacao ul {
  list-style: none;
  position: absolute;
  left: 0;
  display: flex;
}
.navegacao li {
  margin-right: 50px;
}
.imagem {
  position: relative;
}
.perfil ul {
  list-style: none;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
}
.titulo {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  display: flex;
  margin-top: 4%;
  flex-direction: column;
  align-items: flex-start;
}
.divisao {
  background-color: #fff;
  width: 98vw;
  margin: 0;
  margin-top: 3%;
  border-top-left-radius: 75%;
  border-top-right-radius: 75%;
  padding: 40px 20px;
  box-sizing: border-box;
  text-align: center;
}
.conteudo {
  background-color: #fff;
  width: 98vw;
  box-sizing: border-box;
  text-align: center;
}
.conteudo h2 {
  color: #0a001b;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 36px;
  margin-top: 0;
}

.conteudo p {
  color: #0a001b;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  max-width: 800px;
  margin: 20px auto;
}
.conteudo ul li a {
  color: black;
  font-size: 26px;
}
#paragrafo1 {
  border-style: solid;
  border-color: #f5f5f5;
  background-color: #f5f5f5;
  border-radius: 4%;
  color: #0a001b;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  text-align: justify;
  max-width: 800px;
  margin-left: 3%;
  margin-right: 50%;
}
.imagem0 {
  position: absolute;
  right: 18%;
}
#paragrafo2 {
  color: #0a001b;
  border-style: solid;
  border-color: #f5f5f5;
  background-color: #f5f5f5;
  border-radius: 4%;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  text-align: justify;
  max-width: 800px;
  margin-left: 50%;
  margin-right: 3%;
}
.imagem1 {
  position: absolute;
  left: 15%;
}
#paragrafo3 {
  border-style: solid;
  border-color: #f5f5f5;
  background-color: #f5f5f5;
  border-radius: 4%;
  color: #0a001b;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  text-align: justify;
  max-width: 800px;
  margin-right: 50%;
  margin-left: 3%;
}
.imagem2 {
  position: absolute;
  right: 4%;
}
#paragrafo4 {
  border-style: solid;
  border-color: #f5f5f5;
  background-color: #f5f5f5;
  border-radius: 4%;
  color: #0a001b;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  max-width: 800px;
  text-align: justify;
  margin-left: 20%;
  margin-right: 20%;
}
#link {
  color: #78c802;
  text-decoration: none;
}
#lIdeb {
  color: #000;
  text-decoration: none;
}
#fonte {
  margin-right: 0;
}
.imagemExp {
  position: absolute;
  right: 13%;
  top: 85%;
}
